@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("colors.css");

::-moz-selection {
  color: var(--white);
  background: var(--neon);
}
/* Code for Firefox */
::selection {
  color: var(--white);
  background: var(--neon);
}
* {
  padding: 0px;
  margin: 0px;
  color: var(--black);
  font-family: "Roboto", sans-serif;
}
body {
  background: var(--bg);
}

/* general css */
.main {
  padding: 0.94rem;
  background: none;
  border: 3px solid var(--neon);
  box-sizing: border-box;
  border-radius: 10px;
  color: var(--white);
  font-size: 1.875rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.main:hover {
  background: var(--neon);
  box-shadow: 0px 0px 15px 5px rgba(188, 19, 254, 0.35);
  color: var(--black);
}

/* container css */
.container {
  width: 100vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1.875rem;
  width: 41.625rem;
  height: 14rem;
  border: 3px solid var(--neon);
  box-sizing: border-box;
  border-radius: 20px;
}

.score,
.high-score {
  width: 15.188rem;
  height: 10.25rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-size: 1.875rem;
  text-transform: capitalize;
}
.score span,
.high-score span {
  font-size: 4.688rem;
}

.high-score,
.high-score span {
  color: var(--white);
}

/* buttons styles */
.hands {
  width: 28.75rem;
  height: 21.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3em;
  gap: 1em;
  background-image: url("../assets/triangles.png");
  background-repeat: no-repeat;
  background-position: 5em 3em;
}

.paper-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34.75rem;
}

.icon {
  width: 11.25rem;
  height: 11.25rem;
  cursor: grab;
  transition: all 0.4s ease-in-out;
}
.icon:hover {
  transform: translate3d(0px, -0.5rem, 0px);
}

.stone {
  margin-right: 1rem;
}
.scissors {
  margin-left: 1rem;
}

/* results css */
.results,
.result-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results {
  /* display will be setted by js */
  display: none;
  padding: 3em;
  width: 37.5rem;
  height: 21.25rem;
  gap: 3rem;
}

.result-in {
  flex-direction: column;
  gap: 2em;
}
.result-in h2 {
  font-size: 1.875rem;
  color: var(--white);
  font-weight: 200;
  text-transform: capitalize;
}

.result h2 {
  text-align: center;
  width: 12.5rem;
  font-size: 2.5rem;
}
.result button {
  width: 11.25rem;
  font-size: 2.188rem;
}

/* styles for footer */
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 2.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--foot);
}

.right,
.center,
.right a {
  color: var(--accent);
  text-align: center;
  letter-spacing: 0.14em;
  text-transform: capitalize;
}

.center {
  font-size: 1.55rem;
  text-decoration: none;
}

.right {
  position: absolute;
  right: 1.25rem;
}
.right a {
  text-transform: none;
}

/* mobile styles */
@media only screen and (max-width: 655px) {
  footer {
    height: 5rem;
    flex-direction: column;
  }
  .scoreboard {
    width: 31rem;
    height: 14rem;
  }
  .score,
  .high-score {
    width: 12rem;
    height: 9rem;
  }
  .results {
    flex-direction: column;
    gap: 0.5em;
    height: 45rem;
    width: 30rem;
  }
}
